.device-explorer-container-main {
  display: flex;
  height: calc(100vh - env(safe-area-inset-top) - env(safe-area-inset-bottom));
}

.device-explorer-main {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.device-list-scrollable {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.device-list-scrollable {
  -webkit-overflow-scrolling: touch;
}

aside {
  display: flex;
  z-index: 10;
  position: relative;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}
